$accent: #5e091a;
.intro_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;

  h1,
  h4 {
    color: $accent;
    text-align: center;
  }

  .light {
    h1,
    h4 {
      color: #f3f3f3;
      transform: scale(1.15);
    }
  }

  .connect_wrapper {
    position: absolute;
    top: 70%;
    .connect {
      font-size: 2.3rem;
      margin: 0 1rem;
      color: $accent;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
